<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:insert="fragments/template.html :: head"></div>
<header th:replace="fragments/template.html :: header"> </header>
<body>
<h1>ERREUR 404 (page non trouvée)</h1>
<h2><a href="/">Retourner à l'accueil</a></h2>
<img src="https://media.tenor.com/9ud1r4sc-QQAAAAC/confused-john-travolta.gif" alt="John travolta confus" style="width:450px;height:450px;">
</body>
<footer th:insert="fragments/template.html :: footer"> </footer>
</html>